@page "/EmployeeManagement"
@using SalesManagement.Core.DTOs;
@using SalesManagement.Core.Services.Contracts;
@using Syncfusion.Blazor.Grids

@inject IEmployeeManagementService EmployeeManagementService

<h3>EmployeeManagement</h3>


<div class="container">
    <SfGrid DataSource="employeeData">
        <GridColumns>
            <GridColumn Field="@nameof(EmployeeViewModel.Id)" HeaderText="ID" IsPrimaryKey="true"  Width="50px"></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.FirstName)" HeaderText="First Name" ></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.LastName)" HeaderText="Last Name" ></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.EmployeeJobTitleId)" HeaderText="Designation" Width="100px"></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.Gender)" HeaderText="Gender"  Width="100px"></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.DateOfBirth)" HeaderText="DOB"  Format="d"></GridColumn>
            <GridColumn Field="@nameof(EmployeeViewModel.ReportToEmpId)" HeaderText="Reports" Width="100px"></GridColumn>
        </GridColumns>
    </SfGrid>
</div>



@code {
    private List<EmployeeViewModel>? employeeData = null;
    //private List<object> toolbar = new List<object> { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };

    protected override async Task OnInitializedAsync()
    {
        employeeData = await EmployeeManagementService.GetEmployees();
    }
}
